:root {

    /*Colors Variables*/
    --primary-color: #260407;
    --secondary-color: #f1ebc8;
    --third-color: #731919;
    --fourth-color: #c35450;
    --fiveth-color: #d98162;
    /*spacing variables*/
    --spacing: 8px;
    --spacing-xl: calc(var(--spacing) * 2);
}